 * {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-attachment: fixed;
    padding: 10px;
    margin: 7%;
    margin-top: 0%;
}
.animate {
    padding-left: 10px;
    background: url(/img/salary.png);
    background-size: cover;
    width: auto;
    height: max-content;
    color: white;
}
.slide {
    align-content: center;
}
em {
    font-size: xx-large;
    color: greenyellow;
}
h2,
h5 {
    color: violet;
    text-decoration: underline;
    background: rgba(10, 10, 10, 0.1)
}
h3 {
    text-align: center;
}
.about {
    background-color:  rgba(10, 10, 10, 0.3);
}
.float {
    color: black;
    align-content: center;
    text-align: center;
}
.mt_5 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
#align {
    display: inline-flex;
}