body {
    background-image:url(./img/avery-evans-RJQE64NmC_o-unsplash.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
    background-position-x: center;
      
}
#location{
    background-position-x: relative;
    background-size: cover;
    background-color:rgb(62, 92, 110);
    padding-right: 50px;

}