{
    @media screen and (max-width: 768px){
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
    /*===== NAV =====*/
nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);

    &__menu{
        @media screen and (max-width: 768px){
            position: fixed;
            top: var(--header-height);
            right: -100%;
            width: 80%;
            height: 100%;
            padding: 2rem;
            background-color: var(--second-color);
            transition: .5s;
        }
    }
    &__item{
        margin-bottom: var(--mb-4);
    }
    &__link{
        position: relative;
        color: #fff;

        &:hover{
            position: relative;

            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 0.18rem;
                left: 0;
                top: 2rem;
                background-color: var(--first-color);
            }
        }
    }
    &__logo{
        color: var(--second-color);
    }
    &__toggle{
        color: var(--second-color);
        font-size: 1.5rem;
        cursor: pointer;
    }