@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body ,html{
      margin: 0;
      padding: 0;
      font-family:'Courier New', Courier, monospace;
      width: 100%;
      overflow: hidden;
      
    }
    .section-top {
        left: 0;
        top: 0;
        width:100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background-image: url("../images/sacco.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-size: content;
        animation: animate 10s ease-in-out infinite
    }
    .content{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        text-align: center;
        /* transform: translate(-50%, -50%); */
        text-transform: uppercase;
        color: white; 
        font-size: 60px;
        letter-spacing:2px;


    }
    .content h1 {
         opacity: 0.8;
         padding: 10px 24px;
         color: white;
         text-decoration: none;
         text-decoration: none;
         border-radius: 20px;
         font-size: 30px;
         /* text-align: center; */
         transform: translate(-50%, -50%);
         left: 50%;
         top: 50%;
         padding-bottom: 8%;
         display: inline-block;
         font-weight: 700;
         margin-bottom: 20px;
         position: absolute;
         animate:text 3s 1;

    }
    
    p{
        font-size: 20px;
        letter-spacing: 4px;
        padding-top: 30%;
        margin-bottom: 20px;
        position: relative;
        animate:text 3s 1;
        /* padding-right: 50%; */
        /* left: 50%; */
         /* top: 50%; */
         /* padding-top: 19%; */
         /* display: inline-block; */
        
}
@keyframes text {
    0%,100%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
@keyframes animate{
    0%,100%{ 
        background-image: url("../images/bg11.png");
    }
    25%{
        background-image: url("../images/bg1-1-scaled.jpg");
    }
    50%{
        background-image: url("../images/unsplash-scaled.jpg");
    }
    75%{ 
    background-image: url("../images/unsplash-scaled.jpg");
      }
}

/*footer*/
footer{
    position: absolute;
    padding:3em;
    width:100%;
    background: #237cb8;
    /* overflow:visible; */
    float: bottom;
    margin-top:auto;
}
.center box{
    bottom: 100%;
}
.right box{
    bottom: 100%;
}
.main-content{
    display:flex;
}
.main-content .box{
    flex-basis:50%;
    padding:10px 20px;
}
.box h2 {
    font-size:  1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content {
      margin: 20px 0 0 0;;
}
.left .content {
    text-align: justify;
}
.left .content .social {
      margin: 20px 0 0 0;
}
.left .content .social a{
    padding:0 2px;
}
.left .content .social a span {
    height:40px;
    width:40px;
    background:#094ddfde;
    line-height: 40px;
    text-align: center;
    font-size:18px;
    border-radius: 5px;
    transition:0.3s;

}
.newsletter{
    float: right;
    padding-bottom:0;

}
.contact{

}
.left .content .social a span:hover{
    background: #090909;
}
/*navbar*/
.navbar li{
    color: #0f4c75;
    display: flex;

}

.form-row{
    display: inline-flex; 
    font-weight: normal;

    position: relative; 
    float:right;
    text-align: end;
}
li{
    display: inline-flex;
    position: relative;
    align-items:space-between;
}
.nav_link:hover{
    position: relative;

}
.nav_link:hover::after{
    position: absolute;
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color:#094ddfde;
}
nav {
    justify-content:space-between;
    align-items:center;
    display: flex;
    
}
.navbar .nav-logo{
    color: rgb(22, 34, 73);
    font-size: 1.3em;
    align-items: left;
    float: left;
    margin-left:-5%;
    font-weight: bolder;
}
.navbar .navbar-nav{
    margin: 0 auto;
}
.navbar .nav-item a{
    color: #fff;

}
.navbar .dropdown-menu{
    background-color: rgba(0,0,0,0.3 )
}
.navbar{
    background-color: transparent:important;
}
.nav-link{
    margin-left:86px ;
}
.form-row .dropdown-menu{
         background-color: rgba(0,0, 0, 0.3);
}
.dropdown-item:hover{
    background-color: rgba(0,0, 0, 0.3);
}


#carouselExampleFade{
    overflow: hidden;
    position :relative;
    width :100%;
    height: 60%;
}
